.docsSubtitle {
  max-width: 846px;

  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: var(--color-text-primary);
  text-align: center;
  letter-spacing: -0.4px;
}

.button {
  width: 100%;
  max-width: 420px;
}
