.subtitleList {
  display: flex;
  flex-direction: column;
  gap: 12px;

  margin: 0;

  color: var(--color-text-primary);
  text-align: left;
}

.heroBtnBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.button {
  width: 100%;
  max-width: 420px;
}

.btnHint {
  display: block;
  text-align: center;
}

.heroImage {
  max-width: 100%;
  height: auto;
}
