.appFAQ {
  border: 1px solid var(--color-border-primary);
  border-radius: var(--border-radius-600);
}

.accordion {
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-border-primary);
  }
}
