@use '@/assets/styles/mixins' as mixins;

.mobileMenu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  transform: translateX(-100%);

  width: 100%;
  height: 100%;

  background-color: #fff;

  transition: transform 0.3s ease-in-out;
}

.open {
  transform: translateX(0);
}

.container {
  @include mixins.useContainer;

  display: flex;
  flex-direction: column;
  gap: 30px;

  min-height: 100%;
  padding-bottom: 40px;
}

.topBox {
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
}

.logoIcon {
  width: 100%;
  max-width: 76px;
}

.closeIcon {
  width: 24px;
  height: 24px;
}

.menuList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.active {
  color: var(--color-text-utility-orange);
}

.menuLink {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--space-20, 20px) 0;

  font-weight: 400;
  line-height: 24px;
  color: inherit;
  letter-spacing: -0.32px;

  border-bottom: 1px solid var(--color-border-tertiary);

  transition: color 0.2s ease;
}

.menuIcon {
  transform: rotate(-90deg);

  box-sizing: content-box;
  width: 20px;
  height: 20px;
  padding: 4px;

  background: var(--color-background-secondary);
  border-radius: 50%;
}

.contactsBox {
  display: flex;
  flex-direction: column;
  gap: 14px;

  margin-top: 24px;

  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
}

.contactsBoxTitle {
  color: rgb(26 21 56 / 0.56);
}
