@use '@/assets/styles/mixins' as mixins;

.title {
  display: block;

  margin: 0 0 32px;

  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.72px;

  @include mixins.useBreakpoint('desktop') {
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -0.56px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: stretch;
  justify-content: center;

  width: 100%;
  max-width: 642px;

  @include mixins.useBreakpoint('desktop') {
    gap: 12px;
  }
}
