.usefulCasesBox {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}

.topBox {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.title {
  margin: 0;

  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.56px;
}

.text {
  display: block;

  width: 100%;
  max-width: 846px;

  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.4px;
}

.ifText {
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}

.button {
  width: 100%;
  max-width: 400px;
}
