@use '@/assets/styles/mixins' as mixins;

.headerMenu {
  font-weight: 400;
}

.list {
  display: flex;
  gap: 48px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.item {
  color: var(--color-text-primary);

  @include mixins.useOnlyForMouse {
    &:hover {
      color: var(--color-text-utility-orange);
    }
  }
}

.active {
  color: var(--color-text-utility-orange);
}

.link {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
}
