@use '@/assets/styles/mixins' as mixins;

.sendFormMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 36px;

  opacity: 0;
  background: var(--color-background-positive-secondary);
  border: 1px solid var(--color-border-positive-secondary);
  border-radius: 24px;

  animation: fade-in 0.5s forwards;
}

.error {
  background: var(--color-background-danger-secondary);
  border: 1px solid var(--color-border-danger-secondary);
}

.icon {
  width: 80px;
  height: 80px;
}

.title {
  margin-top: 20px;

  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.4px;

  @include mixins.useBreakpoint('desktop') {
    font-size: 24px;
    line-height: 32px;
  }
}

.subtitle {
  margin-top: 8px;
  text-align: center;

  @include mixins.useBreakpoint('desktop') {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.4px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
