@use '@/assets/styles/mixins' as mixins;

.imageBox {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 120px;
  height: 120px;

  background: var(--color-background-secondary);
  border-radius: 50%;

  &::after {
    content: attr(data-step);

    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;

    color: var(--color-text-primary-on-dark, #fff);

    background: var(--color-background-brand-primary);
    border-radius: 50%;
  }

  @include mixins.useBreakpoint('desktop') {
    width: 160px;
    height: 160px;

    &::after {
      content: none;
    }
  }
}

.image {
  width: 54px;
}

.circleInfoBox {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  align-items: center;

  width: 100%;
  max-width: 285px;

  &:last-child {
    .imageBox {
      background: var(--color-background-utility-orange-subtle);
    }

    .image {
      color: #ff4e00;
    }
  }

  @include mixins.useBreakpoint('desktop') {
    gap: 36px;
  }
}

.title {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.36px;

  @include mixins.useBreakpoint('desktop') {
    font-size: 20px;
    letter-spacing: -0.4px;
  }
}
