@use '@/assets/styles/mixins' as mixins;

.sliderWithRating {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 80px;
  align-items: center;
  justify-content: center;

  width: 100%;

  text-align: center;
}

.ratingBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 375px;
}

.stars {
  margin-top: 20px;

  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.4px;
}

.text {
  display: block;

  margin-top: 20px;

  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.36px;

  @include mixins.useBreakpoint('desktop') {
    margin-top: 40px;
    font-size: 20px;
    letter-spacing: -0.4px;
  }
}
