@use '@/assets/styles/mixins' as mixins;

/* stylelint-disable-next-line scss/at-mixin-pattern */
@mixin fontStyle {
  font-size: 16px;
  font-weight: 400;
  line-height: var(--font-line-height-md);
}

.languageSwitcher {
  @include fontStyle;

  user-select: none;
  position: relative;
  z-index: 999;
  text-transform: capitalize;
}

.icon {
  transition: 0.2s ease-in;
}

.displayedBox {
  cursor: pointer;

  display: flex;
  gap: 4px;
  align-items: center;

  width: 72px; // To avoid jumping // TODO: check size
  padding: 8px 8px 8px 12px;

  border: 1px solid transparent;
  border-radius: 8px;

  transition: 0.2s ease-in;

  &.active {
    background-color: #ffffff;

    .icon {
      transform: rotateX(180deg);
    }
  }

  @include mixins.useOnlyForMouse {
    &:not(.active):hover {
      background-color: #ffffff;
    }
  }

  @include mixins.useBreakpoint('desktop') {
    padding: 8px 12px 8px 16px;
    border-color: #d2d2d2;
  }
}

.list {
  position: absolute;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 8px 0 0;
  padding: 0;

  list-style: none;

  border: 1px solid #e4e4e4;
  border-radius: 8px;
}

.button {
  @include fontStyle;

  cursor: pointer;

  width: 100%;

  // To avoid fucking around puddings
  height: 40px;
  padding-left: 16px;

  color: var(--primary-dark);
  text-align: left;
  text-transform: capitalize;

  background-color: white;
  border: none;
  outline: none;

  transition: 0.2s ease-in;

  &.active {
    cursor: default;
    background-color: #f5f5f5;
  }

  @include mixins.useOnlyForMouse {
    &:not(.active):hover {
      background-color: #f5f5f5;
    }
  }
}
