@use '@/assets/styles/mixins' as mixins;

.footerMenu {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #fafafa;

  @include mixins.useBreakpoint('desktop') {
    font-size: 18px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);

  margin: 0;
  padding: 0;

  list-style: none;

  @include mixins.useBreakpoint('desktop') {
    flex-direction: initial;
    gap: 80px;
  }
}

.item {
  transition: color 0.2s ease;

  @include mixins.useOnlyForMouse {
    &:hover {
      color: var(--color-text-utility-orange);
    }
  }
}

.link {
  color: inherit;
  text-decoration: none;
}
