@use '@/assets/styles/mixins' as mixins;

.row {
  display: flex;
  gap: 57px;
  justify-content: center;
  width: 100%;
}

.heroBtnBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.subtitle {
  display: block;
  width: 100%;
  max-width: 444px;
}

.bgBox {
  position: relative;

  overflow: hidden;

  width: 100%;
  padding: 13px 38px 0;

  background: #f7f5f2;
  border-radius: 7px;

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 50%;

    background: linear-gradient(180deg, rgb(247 245 242 / 0) 0%, #f7f5f2 100%);
  }

  @include mixins.useBreakpoint('desktop') {
    padding: 55px 61px 0;
    border-radius: 40px;
  }
}

.screenshot {
  width: 100%;
  height: auto;
  border-radius: 7px;

  @include mixins.useBreakpoint('desktop') {
    border-radius: 40px 40px 0 0;
  }
}

.button {
  width: 100%;
  max-width: 420px;
}

.btnHint {
  display: block;
  text-align: center;
}
