.infoBox {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);

  padding: 32px;

  background: var(--color-background-secondary);
  border-radius: 20px;
}

.icon {
  width: 48px;
  height: 48px;
  color: #ff4e00;
}

.text {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}
