@use '@/assets/styles/mixins' as mixins;

.adminBarLayout {
  position: sticky;
  z-index: 100000;
  top: 0;
  left: 0;

  width: 100%;

  background-color: rgb(0 0 0 / 0.075);
}

.adminBar {
  display: flex;
  flex-direction: row-reverse;
  padding: 12px 0;

  @include mixins.useContainer;
}
