@use '@/assets/styles/mixins' as mixins;

.collapsible {
  cursor: pointer;
  padding: 32px var(--space-24);

  @include mixins.useOnlyForMouse {
    transition: 0.2s ease-in;
  }

  @include mixins.useBreakpoint('desktop') {
    padding: 36px var(--space-24);
  }
}

.collapsibleHeader {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  letter-spacing: -0.4px;

  @include mixins.useOnlyForMouse {
    transition: 0.2s ease-in;

    &:hover {
      color: var(--color-text-brand);
    }
  }
}

.collapsibleArrow {
  transition: transform 0.2s ease;

  &.open {
    transform: rotate(180deg);
  }
}

.arrow {
  width: 24px;
  height: 24px;
}

.collapsibleContent {
  overflow: hidden;
  transition: height 0.2s ease;
}

.collapsibleContentInner {
  cursor: initial;
  margin-top: 26px;

  @include mixins.useBreakpoint('desktop') {
    margin-top: 40px;
  }
}
