/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable number-max-precision */
/* stylelint-disable custom-property-pattern */
:root {
  /* color */
  --color-blue-100: #d1e9ff;
  --color-blue-1000: #092149;
  --color-blue-200: #b2ddff;
  --color-blue-300: #84caff;
  --color-blue-400: #53b1fd;
  --color-blue-50: #f0f6ff;
  --color-blue-500: #2e90fa;
  --color-blue-600: #1570ef;
  --color-blue-700: #175cd3;
  --color-blue-800: #1849a9;
  --color-blue-900: #194185;
  --color-blue-950: #142f5d;
  --color-cyan-100: #d3f8ff;
  --color-cyan-1000: #002b35;
  --color-cyan-200: #adeef9;
  --color-cyan-300: #69def3;
  --color-cyan-400: #3fbfd6;
  --color-cyan-50: #ebfcff;
  --color-cyan-500: #1cbbd8;
  --color-cyan-600: #07a8c4;
  --color-cyan-700: #008fa8;
  --color-cyan-800: #006d81;
  --color-cyan-900: #024655;
  --color-cyan-950: #003643;
  --color-fuchsia-100: #f0e4f6;
  --color-fuchsia-1000: #2a1539;
  --color-fuchsia-200: #dbc4e6;
  --color-fuchsia-300: #ccaadb;
  --color-fuchsia-400: #bc85d5;
  --color-fuchsia-50: #faf6fc;
  --color-fuchsia-500: #a265bf;
  --color-fuchsia-600: #9f54c2;
  --color-fuchsia-700: #8f43b3;
  --color-fuchsia-800: #8038a2;
  --color-fuchsia-900: #632486;
  --color-fuchsia-950: #412554;
  --color-gold-100: #eeebe7;
  --color-gold-1000: #ffffff;
  --color-gold-200: #dbd5cc;
  --color-gold-300: #c6bcae;
  --color-gold-400: #ad9e8a;
  --color-gold-50: #f7f5f3;
  --color-gold-500: #85755e;
  --color-gold-600: #786954;
  --color-gold-700: #695c4a;
  --color-gold-800: #54493b;
  --color-gold-900: #3f372c;
  --color-gold-950: #2a251e;
  --color-gray-100: #f4f4f5;
  --color-gray-1000: #141416;
  --color-gray-200: #e4e4e7;
  --color-gray-300: #d1d1d6;
  --color-gray-400: #a0a0ab;
  --color-gray-50: #fafafa;
  --color-gray-500: #70707b;
  --color-gray-600: #51525c;
  --color-gray-700: #3f3f46;
  --color-gray-800: #26272b;
  --color-gray-900: #232327;
  --color-gray-950: #18181b;
  --color-green-100: #e0f6ec;
  --color-green-1000: #0c3826;
  --color-green-200: #b8ead5;
  --color-green-300: #8dddbc;
  --color-green-400: #5acd9d;
  --color-green-50: #effaf6;
  --color-green-500: #36b37e;
  --color-green-600: #31a172;
  --color-green-700: #2b8d64;
  --color-green-800: #237653;
  --color-green-900: #1a563d;
  --color-green-950: #164833;
  --color-light-blue-100: #f1f4f9;
  --color-light-blue-1000: #1a314f;
  --color-light-blue-200: #dfe7f1;
  --color-light-blue-300: #d0dceb;
  --color-light-blue-400: #bfcfe4;
  --color-light-blue-50: #f8fafc;
  --color-light-blue-500: #aabfdb;
  --color-light-blue-600: #94aed1;
  --color-light-blue-700: #7799c5;
  --color-light-blue-800: #537eb6;
  --color-light-blue-900: #385985;
  --color-light-blue-950: #294161;
  --color-neutral-0: #ffffff;
  --color-neutral-100: #eceef0;
  --color-neutral-20: #fafbfc;
  --color-neutral-200: #dee2e8;
  --color-neutral-300: #cad0d9;
  --color-neutral-400: #b5bdca;
  --color-neutral-50: #f6f7f9;
  --color-neutral-500: #9ca7b8;
  --color-neutral-600: #8b98ac;
  --color-neutral-700: #76869d;
  --color-neutral-800: #5e6c83;
  --color-neutral-900: #465162;
  --color-neutral-950: #313944;
  --color-neutral-alfa-0: #ffffff00;
  --color-neutral-alfa-10: #091e4205;
  --color-neutral-alfa-100: #091e428a;
  --color-neutral-alfa-20: #091e420a;
  --color-neutral-alfa-200: #091e4299;
  --color-neutral-alfa-30: #091e4214;
  --color-neutral-alfa-300: #091e42a8;
  --color-neutral-alfa-40: #091e4221;
  --color-neutral-alfa-400: #091e42b5;
  --color-neutral-alfa-50: #091e4240;
  --color-neutral-alfa-500: #091e42c4;
  --color-neutral-alfa-60: #091e424f;
  --color-neutral-alfa-600: #091e42d1;
  --color-neutral-alfa-70: #091e425c;
  --color-neutral-alfa-700: #091e42e3;
  --color-neutral-alfa-80: #091e426b;
  --color-neutral-alfa-800: #091e42f2;
  --color-neutral-alfa-90: #091e427a;
  --color-neutral-dark-0: #09090b;
  --color-neutral-dark-10: #101013;
  --color-neutral-dark-100: #5a627c;
  --color-neutral-dark-20: #17171c;
  --color-neutral-dark-200: #656f8b;
  --color-neutral-dark-30: #1e1e29;
  --color-neutral-dark-300: #717d98;
  --color-neutral-dark-40: #2a2a38;
  --color-neutral-dark-400: #838ea5;
  --color-neutral-dark-50: #2f313d;
  --color-neutral-dark-500: #929db0;
  --color-neutral-dark-60: #373a49;
  --color-neutral-dark-600: #a3adbd;
  --color-neutral-dark-70: #3f4355;
  --color-neutral-dark-700: #b5bdc9;
  --color-neutral-dark-80: #474c62;
  --color-neutral-dark-800: #c7cdd6;
  --color-neutral-dark-90: #515770;
  --color-neutral-dark-900: #d9dde3;
  --color-neutral-dark-alfa-0: #2a2a3800;
  --color-neutral-dark-alfa-10: #090a0b24;
  --color-neutral-dark-alfa-100: #090a0bc7;
  --color-neutral-dark-alfa-20: #090a0b2e;
  --color-neutral-dark-alfa-200: #090a0bcf;
  --color-neutral-dark-alfa-30: #090a0b4a;
  --color-neutral-dark-alfa-300: #090a0bd9;
  --color-neutral-dark-alfa-40: #090a0b5c;
  --color-neutral-dark-alfa-400: #090a0bde;
  --color-neutral-dark-alfa-50: #090a0b66;
  --color-neutral-dark-alfa-500: #090a0be3;
  --color-neutral-dark-alfa-60: #090a0b78;
  --color-neutral-dark-alfa-600: #090a0beb;
  --color-neutral-dark-alfa-70: #090a0b87;
  --color-neutral-dark-alfa-700: #090a0bf2;
  --color-neutral-dark-alfa-80: #090a0ba1;
  --color-neutral-dark-alfa-800: #090a0bfa;
  --color-neutral-dark-alfa-90: #090a0bba;
  --color-olive-100: #e8f6e0;
  --color-olive-1000: #263a1d;
  --color-olive-200: #c6e8bd;
  --color-olive-300: #b0d7a0;
  --color-olive-400: #93c979;
  --color-olive-50: #f3faef;
  --color-olive-500: #75ba60;
  --color-olive-600: #6aac58;
  --color-olive-700: #61974c;
  --color-olive-800: #48773b;
  --color-olive-900: #36572a;
  --color-olive-950: #2e4423;
  --color-orange-100: #ffeae0;
  --color-orange-1000: #521900;
  --color-orange-200: #ffd1bd;
  --color-orange-300: #ffb494;
  --color-orange-400: #ff8d5c;
  --color-orange-50: #fff4f0;
  --color-orange-500: #ff4e00;
  --color-orange-600: #e84600;
  --color-orange-700: #dd4403;
  --color-orange-800: #b13703;
  --color-orange-900: #842d08;
  --color-orange-950: #5f2309;
  --color-purple-100: #ebe9f7;
  --color-purple-1000: #1a1538;
  --color-purple-200: #d3cfed;
  --color-purple-300: #b8b1e2;
  --color-purple-400: #998dde;
  --color-purple-50: #f5f4fb;
  --color-purple-500: #8375ce;
  --color-purple-600: #6554c0;
  --color-purple-700: #5645ba;
  --color-purple-800: #4e3ea8;
  --color-purple-900: #3e3186;
  --color-purple-950: #312669;
  --color-red-100: #ffebeb;
  --color-red-1000: #52040a;
  --color-red-200: #ffccce;
  --color-red-300: #ffadb0;
  --color-red-400: #ff8589;
  --color-red-50: #fff5f5;
  --color-red-500: #fb5157;
  --color-red-600: #f43539;
  --color-red-700: #d21a23;
  --color-red-800: #b9161b;
  --color-red-900: #8c0408;
  --color-red-950: #5e1217;
  --color-ruby-100: #ffe6ef;
  --color-ruby-1000: #49021c;
  --color-ruby-200: #f7c4d5;
  --color-ruby-300: #f9a6c1;
  --color-ruby-400: #eb6591;
  --color-ruby-50: #fdf0f4;
  --color-ruby-500: #e53c73;
  --color-ruby-600: #d62b62;
  --color-ruby-700: #c32357;
  --color-ruby-800: #b41548;
  --color-ruby-900: #8f0f3c;
  --color-ruby-950: #560925;
  --color-teal-100: #eff6f5;
  --color-teal-1000: #0b2425;
  --color-teal-200: #dfecec;
  --color-teal-300: #cfe3e2;
  --color-teal-400: #b0d2d0;
  --color-teal-50: #f9fbfb;
  --color-teal-500: #78c0be;
  --color-teal-600: #5dafac;
  --color-teal-700: #3e8d8e;
  --color-teal-800: #306e71;
  --color-teal-900: #133839;
  --color-teal-950: #0f2d2e;
  --color-yellow-100: #fff5e0;
  --color-yellow-1000: #4d3100;
  --color-yellow-200: #ffebc2;
  --color-yellow-300: #ffdf9e;
  --color-yellow-400: #ffd175;
  --color-yellow-50: #fffaf0;
  --color-yellow-500: #ffc24a;
  --color-yellow-600: #f0af0a;
  --color-yellow-700: #d28c00;
  --color-yellow-800: #b0730a;
  --color-yellow-900: #885805;
  --color-yellow-950: #613d00;

  /* number */
  --space-negative-16: -1rem;
  --space-negative-12: -0.75rem;
  --space-negative-8: -0.5rem;
  --space-negative-6: -0.375rem;
  --space-negative-4: -0.25rem;
  --space-negative-2: -0.125rem;
  --space-0: 0rem;

  //--space-0,5: 0.03125rem;
  --space-1: 0.0625rem;

  //--space-1,5: 0.09375rem;
  --space-2: 0.125rem;
  --space-4: 0.25rem;
  --space-6: 0.375rem;
  --space-8: 0.5rem;
  --space-12: 0.75rem;
  --space-14: 0.875rem;
  --space-16: 1rem;
  --space-20: 1.25rem;
  --space-24: 1.5rem;
  --space-32: 2rem;
  --space-40: 2.5rem;
  --space-44: 2.75rem;
  --space-48: 3rem;
  --space-52: 3.25rem;
  --space-56: 3.5rem;
  --space-64: 4rem;
  --space-80: 5rem;
  --space-96: 6rem;
  --space-infinit: 624.9375rem;
}

:root {
  /* color */
  --color-background-disabled: #dee2e8;
  --color-background-disabled-subtle: #f4f4f5;
  --color-background-overlay: #091e424f;
  --color-background-primary: #ffffff;
  --color-background-primary-active: #fafafa;
  --color-background-primary-inverse: #1a1538;
  --color-background-primary-inverse--active: #313944;
  --color-background-primary-level-2: #ffffff;
  --color-background-secondary: #f7f5f3;
  --color-background-secondary-active: #eeebe7;
  --color-background-tertiary: #f6f7f9;
  --color-background-tertiary-hover: #eceef0;
  --color-background-brand-primary: #ff4e00;
  --color-background-brand-primary-active: #e84600;
  --color-background-brand-secondary: #f7f5f3;
  --color-background-brand-secondary-active: #eeebe7;
  --color-background-brand-tetriary: #fff4f0;
  --color-background-brand-tetriary-active: #ffeae0;
  --color-background-danger-primary: #f43539;
  --color-background-danger-primary-active: #d21a23;
  --color-background-danger-secondary: #ffebeb;
  --color-background-danger-secondary-active: #ffccce;
  --color-background-danger-tertiary: #fff5f5;
  --color-background-danger-tertiary-active: #ffebeb;
  --color-background-neutral-primary: #f6f7f9;
  --color-background-neutral-primary-active: #eceef0;
  --color-background-neutral-secondary: #dee2e8;
  --color-background-neutral-secondary-active: #cad0d9;
  --color-background-neutral-tertiary: #f6f7f9;
  --color-background-neutral-tertiaty-active: #eceef0;
  --color-background-positive-primary: #36b37e;
  --color-background-positive-primary-active: #31a172;
  --color-background-positive-secondary: #e0f6ec;
  --color-background-positive-secondary-active: #b8ead5;
  --color-background-positive-tertiary: #effaf6;
  --color-background-positive-tertiary-active: #e0f6ec;
  --color-background-utility-blue-bold: #2e90fa;
  --color-background-utility-blue-moderate: #53b1fd;
  --color-background-utility-blue-subtle: #d1e9ff;
  --color-background-utility-blue-subtlest: #f0f6ff;
  --color-background-utility-cyan-bold: #1cbbd8;
  --color-background-utility-cyan-moderate: #3fbfd6;
  --color-background-utility-cyan-subtle: #d3f8ff;
  --color-background-utility-cyan-subtlest: #ebfcff;
  --color-background-utility-fuchsia-bold: #a265bf;
  --color-background-utility-fuchsia-moderate: #bc85d5;
  --color-background-utility-fuchsia-subtle: #f0e4f6;
  --color-background-utility-fuchsia-subtlest: #faf6fc;
  --color-background-utility-green-bold: #31a172;
  --color-background-utility-green-moderate: #5acd9d;
  --color-background-utility-green-subtle: #e0f6ec;
  --color-background-utility-green-subtlest: #effaf6;
  --color-background-utility-light-blue-bold: #bfcfe4;
  --color-background-utility-light-blue-moderate: #d0dceb;
  --color-background-utility-light-blue-subtle: #dfe7f1;
  --color-background-utility-light-blue-subtlest: #f1f4f9;
  --color-background-utility-neutral-bold: #9ca7b8;
  --color-background-utility-neutral-moderate: #b5bdca;
  --color-background-utility-neutral-subtle: #dee2e8;
  --color-background-utility-neutral-subtlest: #f6f7f9;
  --color-background-utility-olive-bold: #b0d7a0;
  --color-background-utility-olive-moderate: #c6e8bd;
  --color-background-utility-olive-subtle: #e8f6e0;
  --color-background-utility-olive-subtlest: #f3faef;
  --color-background-utility-orange-bold: #ff4e00;
  --color-background-utility-orange-moderate: #ffb494;
  --color-background-utility-orange-subtle: #ffeae0;
  --color-background-utility-orange-subtlest: #fff4f0;
  --color-background-utility-purple-bold: #6554c0;
  --color-background-utility-purple-moderate: #998dde;
  --color-background-utility-purple-subtle: #ebe9f7;
  --color-background-utility-purple-subtlest: #f5f4fb;
  --color-background-utility-red-bold: #fb5157;
  --color-background-utility-red-moderate: #ff8589;
  --color-background-utility-red-subtle: #ffebeb;
  --color-background-utility-red-subtlest: #fff5f5;
  --color-background-utility-ruby-bold: #e53c73;
  --color-background-utility-ruby-moderate: #eb6591;
  --color-background-utility-ruby-subtle: #ffe6ef;
  --color-background-utility-ruby-subtlest: #fdf0f4;
  --color-background-utility-teal-bold: #5dafac;
  --color-background-utility-teal-moderate: #b0d2d0;
  --color-background-utility-teal-subtle: #dfecec;
  --color-background-utility-teal-subtlest: #eff6f5;
  --color-background-utility-yellow-bold: #f0af0a;
  --color-background-utility-yellow-moderate: #ffc24a;
  --color-background-utility-yellow-subtle: #fff5e0;
  --color-background-utility-yellow-subtlest: #fffaf0;
  --color-background-warning-primary: #ffc24a;
  --color-background-warning-primary-hover: #f0af0a;
  --color-background-warning-secondary: #fff5e0;
  --color-background-warning-secondary-active: #ffebc2;
  --color-background-warning-tertiary: #fffaf0;
  --color-background-warning-tertiary-active: #fff5e0;
  --color-border-disabled: #e4e4e7;
  --color-border-focused: #313944;
  --color-border-primary: #dee2e8;
  --color-border-secondary: #cad0d9;
  --color-border-substract: #ffffff;
  --color-border-tertiary: #f4f4f5;
  --color-border-brand-primary: #ff4e00;
  --color-border-brand-secondary: #eeebe7;
  --color-border-danger-primary: #f43539;
  --color-border-danger-secondary: #ffadb0;
  --color-border-positive-primary: #36b37e;
  --color-border-positive-secondary: #8dddbc;
  --color-border-utility-blue: #b2ddff;
  --color-border-utility-cyan: #adeef9;
  --color-border-utility-fuchsia: #ccaadb;
  --color-border-utility-green: #8dddbc;
  --color-border-utility-neutral: #cad0d9;
  --color-border-utility-orange: #ffb494;
  --color-border-utility-purple: #b8b1e2;
  --color-border-utility-red: #ffadb0;
  --color-border-utility-teal: #cfe3e2;
  --color-border-utility-yellow: #ffdf9e;
  --color-border-warning-primary: #ffc24a;
  --color-border-warning-secondary: #ffdf9e;
  --color-effect-card-linear-opacity: #ffffff00;
  --color-effect-card-linear-solid: #ffffff;
  --color-effect-focus-ring-active: #ffeae0;
  --color-effect-focus-ring-contrast: #ffffff;
  --color-effect-focus-ring-default: #dee2e8;
  --color-icon-always-dark: #1a1538;
  --color-icon-always-white: #ffffff;
  --color-icon-brand: #ff4e00;
  --color-icon-danger: #f43539;
  --color-icon-disabled: #b5bdca;
  --color-icon-on-color: #ffffff;
  --color-icon-positive: #31a172;
  --color-icon-primary: #1a1538;
  --color-icon-primary-inverse: #ffffff;
  --color-icon-secondary: #76869d;
  --color-icon-secondary-disabled: #eceef0;
  --color-icon-secondary-hover: #5e6c83;
  --color-icon-tertiary: #b5bdca;
  --color-icon-warning: #ffc24a;
  --color-icon-link-default: #1570ef;
  --color-icon-link-hover: #175cd3;
  --color-icon-utility-blue: #2e90fa;
  --color-icon-utility-cyan: #07a8c4;
  --color-icon-utility-fuchsia: #9f54c2;
  --color-icon-utility-green: #31a172;
  --color-icon-utility-neutral: #8b98ac;
  --color-icon-utility-orange: #ff4e00;
  --color-icon-utility-purple: #5645ba;
  --color-icon-utility-red: #f43539;
  --color-icon-utility-teal: #5dafac;
  --color-icon-utility-yellow: #ffc24a;
  --color-text-always-dark: #1a1538;
  --color-text-always-white: #ffffff;
  --color-text-brand: #ff4e00;
  --color-text-danger: #f43539;
  --color-text-disabled: #b5bdca;
  --color-text-placeholder: #8b98ac;
  --color-text-positive: #31a172;
  --color-text-primary: #1a1538;
  --color-text-primary-on-dark: #ffffff;
  --color-text-secondary: #5e6c83;
  --color-text-teriary-on-bg: #cad0d9;
  --color-text-tertiary: #76869d;
  --color-text-warning: #f0af0a;
  --color-text-link-default: #1570ef;
  --color-text-link-hover: #175cd3;
  --color-text-utility-blue: #1570ef;
  --color-text-utility-cyan: #07a8c4;
  --color-text-utility-fuchsia: #a265bf;
  --color-text-utility-green: #31a172;
  --color-text-utility-light-blue: #537eb6;
  --color-text-utility-neutral: #76869d;
  --color-text-utility-olive: #6aac58;
  --color-text-utility-orange: #ff4e00;
  --color-text-utility-purple: #5645ba;
  --color-text-utility-red: #f43539;
  --color-text-utility-ruby: #e53c73;
  --color-text-utility-teal: #3e8d8e;
  --color-text-utility-yellow: #f0af0a;
}

[data-theme='dark'] {
  /* color */
  --color-background-disabled: #2f313d;
  --color-background-disabled-subtle: #17171c;
  --color-background-overlay: #090a0bcf;
  --color-background-primary: #1e1e29;
  --color-background-primary-active: #2f313d;
  --color-background-primary-inverse: #ffffff;
  --color-background-primary-inverse--active: #d9dde3;
  --color-background-primary-level-2: #2a2a38;
  --color-background-secondary: #373a49;
  --color-background-secondary-active: #3f4355;
  --color-background-tertiary: #2f313d;
  --color-background-tertiary-hover: #373a49;
  --color-background-brand-primary: #ff4e00;
  --color-background-brand-primary-active: #ff8d5c;
  --color-background-brand-secondary: #373a49;
  --color-background-brand-secondary-active: #2f313d;
  --color-background-brand-tetriary: #5f2309;
  --color-background-brand-tetriary-active: #842d08;
  --color-background-danger-primary: #fb5157;
  --color-background-danger-primary-active: #ff8589;
  --color-background-danger-secondary: #8c0408;
  --color-background-danger-secondary-active: #b9161b;
  --color-background-danger-tertiary: #5e1217;
  --color-background-danger-tertiary-active: #8c0408;
  --color-background-neutral-primary: #373a49;
  --color-background-neutral-primary-active: #515770;
  --color-background-neutral-secondary: #656f8b;
  --color-background-neutral-secondary-active: #838ea5;
  --color-background-neutral-tertiary: #2f313d;
  --color-background-neutral-tertiaty-active: #515770;
  --color-background-positive-primary: #36b37e;
  --color-background-positive-primary-active: #5acd9d;
  --color-background-positive-secondary: #1a563d;
  --color-background-positive-secondary-active: #237653;
  --color-background-positive-tertiary: #164833;
  --color-background-positive-tertiary-active: #1a563d;
  --color-background-utility-blue-bold: #175cd3;
  --color-background-utility-blue-moderate: #1849a9;
  --color-background-utility-blue-subtle: #142f5d;
  --color-background-utility-blue-subtlest: #092149;
  --color-background-utility-cyan-bold: #008fa8;
  --color-background-utility-cyan-moderate: #006d81;
  --color-background-utility-cyan-subtle: #003643;
  --color-background-utility-cyan-subtlest: #003643;
  --color-background-utility-fuchsia-bold: #8f43b3;
  --color-background-utility-fuchsia-moderate: #8038a2;
  --color-background-utility-fuchsia-subtle: #412554;
  --color-background-utility-fuchsia-subtlest: #412554;
  --color-background-utility-green-bold: #2b8d64;
  --color-background-utility-green-moderate: #237653;
  --color-background-utility-green-subtle: #164833;
  --color-background-utility-green-subtlest: #0c3826;
  --color-background-utility-light-blue-bold: #7799c5;
  --color-background-utility-light-blue-moderate: #537eb6;
  --color-background-utility-light-blue-subtle: #294161;
  --color-background-utility-light-blue-subtlest: #1a314f;
  --color-background-utility-neutral-bold: #474c62;
  --color-background-utility-neutral-moderate: #3f4355;
  --color-background-utility-neutral-subtle: #373a49;
  --color-background-utility-neutral-subtlest: #2f313d;
  --color-background-utility-olive-bold: #48773b;
  --color-background-utility-olive-moderate: #36572a;
  --color-background-utility-olive-subtle: #2e4423;
  --color-background-utility-olive-subtlest: #263a1d;
  --color-background-utility-orange-bold: #ff4e00;
  --color-background-utility-orange-moderate: #b13703;
  --color-background-utility-orange-subtle: #5f2309;
  --color-background-utility-orange-subtlest: #521900;
  --color-background-utility-purple-bold: #5645ba;
  --color-background-utility-purple-moderate: #4e3ea8;
  --color-background-utility-purple-subtle: #312669;
  --color-background-utility-purple-subtlest: #1a1538;
  --color-background-utility-red-bold: #d21a23;
  --color-background-utility-red-moderate: #b9161b;
  --color-background-utility-red-subtle: #5e1217;
  --color-background-utility-red-subtlest: #52040a;
  --color-background-utility-ruby-bold: #c32357;
  --color-background-utility-ruby-moderate: #b41548;
  --color-background-utility-ruby-subtle: #560925;
  --color-background-utility-ruby-subtlest: #49021c;
  --color-background-utility-teal-bold: #3e8d8e;
  --color-background-utility-teal-moderate: #306e71;
  --color-background-utility-teal-subtle: #133839;
  --color-background-utility-teal-subtlest: #0f2d2e;
  --color-background-utility-yellow-bold: #d28c00;
  --color-background-utility-yellow-moderate: #b0730a;
  --color-background-utility-yellow-subtle: #613d00;
  --color-background-utility-yellow-subtlest: #4d3100;
  --color-background-warning-primary: #f0af0a;
  --color-background-warning-primary-hover: #ffc24a;
  --color-background-warning-secondary: #885805;
  --color-background-warning-secondary-active: #b0730a;
  --color-background-warning-tertiary: #613d00;
  --color-background-warning-tertiary-active: #885805;
  --color-border-disabled: #2f313d;
  --color-border-focused: #d9dde3;
  --color-border-primary: #5a627c;
  --color-border-secondary: #474c62;
  --color-border-substract: #2a2a38;
  --color-border-tertiary: #3f4355;
  --color-border-brand-primary: #ff4e00;
  --color-border-brand-secondary: #373a49;
  --color-border-danger-primary: #fb5157;
  --color-border-danger-secondary: #d21a23;
  --color-border-positive-primary: #2b8d64;
  --color-border-positive-secondary: #237653;
  --color-border-utility-blue: #1849a9;
  --color-border-utility-cyan: #006d81;
  --color-border-utility-fuchsia: #632486;
  --color-border-utility-green: #237653;
  --color-border-utility-neutral: #474c62;
  --color-border-utility-orange: #842d08;
  --color-border-utility-purple: #4e3ea8;
  --color-border-utility-red: #8c0408;
  --color-border-utility-teal: #306e71;
  --color-border-utility-yellow: #885805;
  --color-border-warning-primary: #f0af0a;
  --color-border-warning-secondary: #d28c00;
  --color-effect-card-linear-opacity: #2a2a3800;
  --color-effect-card-linear-solid: #2a2a38;
  --color-effect-focus-ring-active: #5f2309;
  --color-effect-focus-ring-contrast: #2a2a38;
  --color-effect-focus-ring-default: #373a49;
  --color-icon-always-dark: #1a1538;
  --color-icon-always-white: #ffffff;
  --color-icon-brand: #ff4e00;
  --color-icon-danger: #fb5157;
  --color-icon-disabled: #515770;
  --color-icon-on-color: #ffffff;
  --color-icon-positive: #36b37e;
  --color-icon-primary: #ffffff;
  --color-icon-primary-inverse: #1e1e29;
  --color-icon-secondary: #a3adbd;
  --color-icon-secondary-disabled: #373a49;
  --color-icon-secondary-hover: #c7cdd6;
  --color-icon-tertiary: #656f8b;
  --color-icon-warning: #f0af0a;
  --color-icon-link-default: #53b1fd;
  --color-icon-link-hover: #2e90fa;
  --color-icon-utility-blue: #2e90fa;
  --color-icon-utility-cyan: #1cbbd8;
  --color-icon-utility-fuchsia: #a265bf;
  --color-icon-utility-green: #36b37e;
  --color-icon-utility-neutral: #b5bdc9;
  --color-icon-utility-orange: #ff4e00;
  --color-icon-utility-purple: #6554c0;
  --color-icon-utility-red: #fb5157;
  --color-icon-utility-teal: #78c0be;
  --color-icon-utility-yellow: #f0af0a;
  --color-text-always-dark: #1a1538;
  --color-text-always-white: #ffffff;
  --color-text-brand: #ff4e00;
  --color-text-danger: #fb5157;
  --color-text-disabled: #515770;
  --color-text-placeholder: #656f8b;
  --color-text-positive: #5acd9d;
  --color-text-primary: #ffffff;
  --color-text-primary-on-dark: #1a1538;
  --color-text-secondary: #a3adbd;
  --color-text-teriary-on-bg: #cad0d9;
  --color-text-tertiary: #838ea5;
  --color-text-warning: #ffc24a;
  --color-text-link-default: #53b1fd;
  --color-text-link-hover: #2e90fa;
  --color-text-utility-blue: #53b1fd;
  --color-text-utility-cyan: #3fbfd6;
  --color-text-utility-fuchsia: #bc85d5;
  --color-text-utility-green: #5acd9d;
  --color-text-utility-light-blue: #94aed1;
  --color-text-utility-neutral: #9ca7b8;
  --color-text-utility-olive: #93c979;
  --color-text-utility-orange: #ff8d5c;
  --color-text-utility-purple: #998dde;
  --color-text-utility-red: #fb5157;
  --color-text-utility-ruby: #eb6591;
  --color-text-utility-teal: #5dafac;
  --color-text-utility-yellow: #ffc24a;
}

:root {
  /* number */
  --font-size-300: 0.75rem;
  --font-size-350: 0.875rem;
  --font-size-400: 1rem;
  --font-size-450: 1.125rem;
  --font-size-500: 1.25rem;
  --font-size-600: 1.5rem;
  --font-size-700: 1.75rem;
  --font-size-800: 2rem;
  --font-size-900: 2.25rem;
  --font-size-1100: 2.75rem;
  --font-size-1400: 3.5rem;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  //--letter-spacing--0,4: -0.4000000059604645;
  //--letter-spacing--0,2: -0.20000000298023224;
  --letter-spacing--4: -0.04374999925494194rem;

  //--letter-spacing--0,5: -0.03125rem;
  --letter-spacing-0: 0;

  //--letter-spacing-0,5: 0.03125rem;
  //--letter-spacing-0,7: 0.04374999925494194rem;
  --letter-spacing-1: 1;
  --line-height-400: 1rem;
  --line-height-500: 1.25rem;
  --line-height-600: 1.5rem;
  --line-height-700: 1.75rem;
  --line-height-800: 2rem;
  --line-height-900: 2.25rem;
  --line-height-1000: 2.5rem;
  --line-height-1100: 2.75rem;
  --line-height-1300: 3.25rem;
  --line-height-1600: 4rem;

  /* string */
  --font-family-inter: inter;
  --font-family-sfprodisplay: sf pro display;
  --font-family-sfprotext: sf pro text;
}

:root {
  /* number */
  --border-radius-0: 0rem;
  --border-radius-100: 0.25rem;
  --border-radius-150: 0.375rem;
  --border-radius-200: 0.5rem;
  --border-radius-300: 0.75rem;
  --border-radius-400: 1rem;
  --border-radius-500: 1.25rem;
  --border-radius-600: 1.5rem;
  --border-radius-800: 2rem;
  --border-radius-full-round: 624.9375rem;
  --border-width-0: 0rem;
  --border-width-xs: 0.03125rem;
  --border-width-sm: 0.0625rem;
  --border-width-md: 0.09375rem;
  --border-width-lg: 0.125rem;
  --border-width-xl: 0.25rem;
  --spacing-negative-400: -1rem;
  --spacing-negative-300: -0.75rem;
  --spacing-negative-200: -0.5rem;
  --spacing-negative-150: -0.375rem;
  --spacing-negative-100: -0.25rem;
  --spacing-negative-050: -0.125rem;
  --spacing-0: 0rem;
  --spacing-050: 0.125rem;
  --spacing-100: 0.25rem;
  --spacing-150: 0.375rem;
  --spacing-200: 0.5rem;
  --spacing-300: 0.75rem;
  --spacing-400: 1rem;
  --spacing-500: 1.25rem;
  --spacing-600: 1.5rem;
  --spacing-800: 2rem;
  --spacing-1000: 2.5rem;
}

:root {
  /* color */
  --button-secondary: #eeebe7;
  --button-primary-background-default: #ff4e00;
  --button-primary-icon-default: #ffffff;
  --button-primary-text-default: #ffffff;
}

:root {
  /* color */
  --button-secondary: #eeebe7;
  --button-primary-background-default: #ffc24a;
  --button-primary-icon-default: #1a1538;
  --button-primary-text-default: #1a1538;
}

:root {
  /* color */
  --button-secondary: #f6f7f9;
  --button-primary-background-default: #1a1538;
  --button-primary-icon-default: #ffffff;
  --button-primary-text-default: #ffffff;
}

:root {
  /* number */
  --typography-web-body-font-weight: 400;
  --typography-web-body-lg-font-size: 1.125rem;
  --typography-web-body-lg-line-height: 1.75rem;
  --typography-web-body-md-font-size: 1rem;
  --typography-web-body-md-line-height: 1.5rem;
  --typography-web-body-sm-font-size: 0.875rem;
  --typography-web-body-sm-line-height: 1.25rem;
  --typography-web-headline-font-weight: 600;
  --typography-web-headline-lg-font-size: 2.25rem;
  --typography-web-headline-lg-line-height: 2.75rem;
  --typography-web-headline-md-font-size: 2rem;
  --typography-web-headline-md-line-height: 2.5rem;
  --typography-web-headline-sm-font-size: 1.75rem;
  --typography-web-headline-sm-line-height: 2.25rem;
  --typography-web-label-font-weight: 500;
  --typography-web-label-lg-font-size: 1.125rem;
  --typography-web-label-lg-line-height: 1.75rem;
  --typography-web-label-md-font-size: 1rem;
  --typography-web-label-md-line-height: 1.5rem;
  --typography-web-label-sm-font-size: 0.875rem;
  --typography-web-label-sm-line-height: 1.25rem;
  --typography-web-title-font-weight: 600;
  --typography-web-title-lg-font-size: 1.25rem;
  --typography-web-title-lg-line-height: 1.75rem;
  --typography-web-title-md-font-size: 1rem;
  --typography-web-title-md-line-height: 1.5rem;
  --typography-web-title-sm-font-size: 0.875rem;
  --typography-web-title-sm-line-height: 1.25rem;
  --typography-web-title-xl-font-size: 1.5rem;
  --typography-web-title-xl-line-height: 2rem;

  /* string */
  --typography-web-font-family: inter;
}
