/* stylelint-disable-next-line at-rule-disallowed-list */
@import 'variables';

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

html {
  font-size: 16px;
  font-weight: var(--typography-web-label-font-weight, 500);
  color: var(--color-text-primary);
  background: var(--color-background-secondary, #f7f5f3);
}

body {
  margin: 0;

  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}
